server:
  port: 10000

spring:
  application:
    name: gateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: member-service
              uri: http://127.0.0.1:9000
              predicates:
                - Path=/member/**
          globalcors:
            corsConfigurations:
              "[/**]":
                allowedOriginPatterns: "*"
                allowedMethods: "*"
                allowedHeaders: "*"
                allowCredentials: true
                maxAge: 3600
